#### Como aplicar una funciona a una columna de pandas

In [1]:
import os
import pandas as pd

In [2]:
sales_df = pd.read_csv("sales.csv")

In [5]:
sales_df.head()

,ProductCategoryKey,ProductSubcategoryKey,SalesTerritoryKey,GeographyKey,CustomerKey,ProductKey,CurrencyKey,OrderDateKey,DueDateKey,ShipDateKey,...,FrenchCountryRegionName,PostalCode,ProductSubcategoryAlternateKey,EnglishProductSubcategoryName,SpanishProductSubcategoryName,FrenchProductSubcategoryName,ProductCategoryAlternateKey,EnglishProductCategoryName,SpanishProductCategoryName,FrenchProductCategoryName
0,1,1,7,192,14186,353,100,20031219,20031231,20031226,...,France,75002,1,Mountain Bikes,Bicicleta de montaña,VTT,1,Bikes,Bicicleta,Vélo
1,1,1,7,192,11340,360,100,20030430,20030512,20030507,...,France,75002,1,Mountain Bikes,Bicicleta de montaña,VTT,1,Bikes,Bicicleta,Vélo
2,1,1,7,192,11340,359,100,20030706,20030718,20030713,...,France,75002,1,Mountain Bikes,Bicicleta de montaña,VTT,1,Bikes,Bicicleta,Vélo
3,1,1,7,192,28689,360,100,20021021,20021102,20021028,...,France,75002,1,Mountain Bikes,Bicicleta de montaña,VTT,1,Bikes,Bicicleta,Vélo
4,1,1,7,192,21505,357,100,20040602,20040614,20040609,...,France,75002,1,Mountain Bikes,Bicicleta de montaña,VTT,1,Bikes,Bicicleta,Vélo

In [6]:
### 20201219 -> 2020/12/19
### 20201219 -> 19-12-2020
sales_df.dtypes

ProductCategoryKey              int64
ProductSubcategoryKey           int64
SalesTerritoryKey               int64
GeographyKey                    int64
CustomerKey                     int64
                                ...
ProductCategoryAlternateKey     int64
EnglishProductCategoryName     object
SpanishProductCategoryName     object
FrenchProductCategoryName      object
OrderDate1                     object
Length: 109, dtype: object

In [6]:
def transform_date(text):
    text = str(text)
    d = "{}/{}/{}".format(text[0:4],text[4:6],text[6:])
    return d

In [7]:
sales_df["OrderDate1"] = [transform_date(i) for i in sales_df['OrderDateKey']]
sales_df.head()

,ProductCategoryKey,ProductSubcategoryKey,SalesTerritoryKey,GeographyKey,CustomerKey,ProductKey,CurrencyKey,OrderDateKey,DueDateKey,ShipDateKey,...,PostalCode,ProductSubcategoryAlternateKey,EnglishProductSubcategoryName,SpanishProductSubcategoryName,FrenchProductSubcategoryName,ProductCategoryAlternateKey,EnglishProductCategoryName,SpanishProductCategoryName,FrenchProductCategoryName,OrderDate1
0,1,1,7,192,14186,353,100,20031219,20031231,20031226,...,75002,1,Mountain Bikes,Bicicleta de montaña,VTT,1,Bikes,Bicicleta,Vélo,2003/12/19
1,1,1,7,192,11340,360,100,20030430,20030512,20030507,...,75002,1,Mountain Bikes,Bicicleta de montaña,VTT,1,Bikes,Bicicleta,Vélo,2003/04/30
2,1,1,7,192,11340,359,100,20030706,20030718,20030713,...,75002,1,Mountain Bikes,Bicicleta de montaña,VTT,1,Bikes,Bicicleta,Vélo,2003/07/06
3,1,1,7,192,28689,360,100,20021021,20021102,20021028,...,75002,1,Mountain Bikes,Bicicleta de montaña,VTT,1,Bikes,Bicicleta,Vélo,2002/10/21
4,1,1,7,192,21505,357,100,20040602,20040614,20040609,...,75002,1,Mountain Bikes,Bicicleta de montaña,VTT,1,Bikes,Bicicleta,Vélo,2004/06/02

In [7]:
sales_df["OrderDate2"] = sales_df['DueDateKey'].map(transform_date)
sales_df.head()

,ProductCategoryKey,ProductSubcategoryKey,SalesTerritoryKey,GeographyKey,CustomerKey,ProductKey,CurrencyKey,OrderDateKey,DueDateKey,ShipDateKey,...,ProductSubcategoryAlternateKey,EnglishProductSubcategoryName,SpanishProductSubcategoryName,FrenchProductSubcategoryName,ProductCategoryAlternateKey,EnglishProductCategoryName,SpanishProductCategoryName,FrenchProductCategoryName,OrderDate1,OrderDate2
0,1,1,7,192,14186,353,100,20031219,20031231,20031226,...,1,Mountain Bikes,Bicicleta de montaña,VTT,1,Bikes,Bicicleta,Vélo,2003/12/19,2003/12/31
1,1,1,7,192,11340,360,100,20030430,20030512,20030507,...,1,Mountain Bikes,Bicicleta de montaña,VTT,1,Bikes,Bicicleta,Vélo,2003/04/30,2003/05/12
2,1,1,7,192,11340,359,100,20030706,20030718,20030713,...,1,Mountain Bikes,Bicicleta de montaña,VTT,1,Bikes,Bicicleta,Vélo,2003/07/06,2003/07/18
3,1,1,7,192,28689,360,100,20021021,20021102,20021028,...,1,Mountain Bikes,Bicicleta de montaña,VTT,1,Bikes,Bicicleta,Vélo,2002/10/21,2002/11/02
4,1,1,7,192,21505,357,100,20040602,20040614,20040609,...,1,Mountain Bikes,Bicicleta de montaña,VTT,1,Bikes,Bicicleta,Vélo,2004/06/02,2004/06/14

In [8]:
sales_df["OrderDate3"] = list(map(transform_date, sales_df['DueDateKey']))
sales_df.head()

,ProductCategoryKey,ProductSubcategoryKey,SalesTerritoryKey,GeographyKey,CustomerKey,ProductKey,CurrencyKey,OrderDateKey,DueDateKey,ShipDateKey,...,ProductSubcategoryAlternateKey,EnglishProductSubcategoryName,SpanishProductSubcategoryName,FrenchProductSubcategoryName,ProductCategoryAlternateKey,EnglishProductCategoryName,SpanishProductCategoryName,FrenchProductCategoryName,OrderDate1,OrderDate3
0,1,1,7,192,14186,353,100,20031219,20031231,20031226,...,1,Mountain Bikes,Bicicleta de montaña,VTT,1,Bikes,Bicicleta,Vélo,2003/12/19,2003/12/31
1,1,1,7,192,11340,360,100,20030430,20030512,20030507,...,1,Mountain Bikes,Bicicleta de montaña,VTT,1,Bikes,Bicicleta,Vélo,2003/04/30,2003/05/12
2,1,1,7,192,11340,359,100,20030706,20030718,20030713,...,1,Mountain Bikes,Bicicleta de montaña,VTT,1,Bikes,Bicicleta,Vélo,2003/07/06,2003/07/18
3,1,1,7,192,28689,360,100,20021021,20021102,20021028,...,1,Mountain Bikes,Bicicleta de montaña,VTT,1,Bikes,Bicicleta,Vélo,2002/10/21,2002/11/02
4,1,1,7,192,21505,357,100,20040602,20040614,20040609,...,1,Mountain Bikes,Bicicleta de montaña,VTT,1,Bikes,Bicicleta,Vélo,2004/06/02,2004/06/14

In [9]:
sales_df['OrderDate4'] = sales_df['OrderDateKey'].apply(transform_date)
sales_df.head()

,ProductCategoryKey,ProductSubcategoryKey,SalesTerritoryKey,GeographyKey,CustomerKey,ProductKey,CurrencyKey,OrderDateKey,DueDateKey,ShipDateKey,...,EnglishProductSubcategoryName,SpanishProductSubcategoryName,FrenchProductSubcategoryName,ProductCategoryAlternateKey,EnglishProductCategoryName,SpanishProductCategoryName,FrenchProductCategoryName,OrderDate1,OrderDate3,OrderDate4
0,1,1,7,192,14186,353,100,20031219,20031231,20031226,...,Mountain Bikes,Bicicleta de montaña,VTT,1,Bikes,Bicicleta,Vélo,2003/12/19,2003/12/31,2003/12/19
1,1,1,7,192,11340,360,100,20030430,20030512,20030507,...,Mountain Bikes,Bicicleta de montaña,VTT,1,Bikes,Bicicleta,Vélo,2003/04/30,2003/05/12,2003/04/30
2,1,1,7,192,11340,359,100,20030706,20030718,20030713,...,Mountain Bikes,Bicicleta de montaña,VTT,1,Bikes,Bicicleta,Vélo,2003/07/06,2003/07/18,2003/07/06
3,1,1,7,192,28689,360,100,20021021,20021102,20021028,...,Mountain Bikes,Bicicleta de montaña,VTT,1,Bikes,Bicicleta,Vélo,2002/10/21,2002/11/02,2002/10/21
4,1,1,7,192,21505,357,100,20040602,20040614,20040609,...,Mountain Bikes,Bicicleta de montaña,VTT,1,Bikes,Bicicleta,Vélo,2004/06/02,2004/06/14,2004/06/02

In [10]:
sales_df['OrderDate5'] = sales_df['OrderDateKey'].transform(transform_date)
sales_df.head()

,ProductCategoryKey,ProductSubcategoryKey,SalesTerritoryKey,GeographyKey,CustomerKey,ProductKey,CurrencyKey,OrderDateKey,DueDateKey,ShipDateKey,...,FrenchProductSubcategoryName,ProductCategoryAlternateKey,EnglishProductCategoryName,SpanishProductCategoryName,FrenchProductCategoryName,OrderDate1,OrderDate2,OrderDate3,OrderDate4,OrderDate5
0,1,1,7,192,14186,353,100,20031219,20031231,20031226,...,VTT,1,Bikes,Bicicleta,Vélo,2003/12/19,2003/12/31,2003/12/31,2003/12/19,2003/12/19
1,1,1,7,192,11340,360,100,20030430,20030512,20030507,...,VTT,1,Bikes,Bicicleta,Vélo,2003/04/30,2003/05/12,2003/05/12,2003/04/30,2003/04/30
2,1,1,7,192,11340,359,100,20030706,20030718,20030713,...,VTT,1,Bikes,Bicicleta,Vélo,2003/07/06,2003/07/18,2003/07/18,2003/07/06,2003/07/06
3,1,1,7,192,28689,360,100,20021021,20021102,20021028,...,VTT,1,Bikes,Bicicleta,Vélo,2002/10/21,2002/11/02,2002/11/02,2002/10/21,2002/10/21
4,1,1,7,192,21505,357,100,20040602,20040614,20040609,...,VTT,1,Bikes,Bicicleta,Vélo,2004/06/02,2004/06/14,2004/06/14,2004/06/02,2004/06/02

In [10]:
sales_df['OrderDate6'] = sales_df['DueDateKey'].aggregate(transform_date)
sales_df.head()

,ProductCategoryKey,ProductSubcategoryKey,SalesTerritoryKey,GeographyKey,CustomerKey,ProductKey,CurrencyKey,OrderDateKey,DueDateKey,ShipDateKey,...,SpanishProductSubcategoryName,FrenchProductSubcategoryName,ProductCategoryAlternateKey,EnglishProductCategoryName,SpanishProductCategoryName,FrenchProductCategoryName,OrderDate1,OrderDate3,OrderDate4,OrderDate6
0,1,1,7,192,14186,353,100,20031219,20031231,20031226,...,Bicicleta de montaña,VTT,1,Bikes,Bicicleta,Vélo,2003/12/19,2003/12/31,2003/12/19,2003/12/31
1,1,1,7,192,11340,360,100,20030430,20030512,20030507,...,Bicicleta de montaña,VTT,1,Bikes,Bicicleta,Vélo,2003/04/30,2003/05/12,2003/04/30,2003/05/12
2,1,1,7,192,11340,359,100,20030706,20030718,20030713,...,Bicicleta de montaña,VTT,1,Bikes,Bicicleta,Vélo,2003/07/06,2003/07/18,2003/07/06,2003/07/18
3,1,1,7,192,28689,360,100,20021021,20021102,20021028,...,Bicicleta de montaña,VTT,1,Bikes,Bicicleta,Vélo,2002/10/21,2002/11/02,2002/10/21,2002/11/02
4,1,1,7,192,21505,357,100,20040602,20040614,20040609,...,Bicicleta de montaña,VTT,1,Bikes,Bicicleta,Vélo,2004/06/02,2004/06/14,2004/06/02,2004/06/14

In [11]:
sales_df['OrderDate7'] = sales_df['ShipDateKey'].agg(transform_date)
sales_df.head()

,ProductCategoryKey,ProductSubcategoryKey,SalesTerritoryKey,GeographyKey,CustomerKey,ProductKey,CurrencyKey,OrderDateKey,DueDateKey,ShipDateKey,...,FrenchProductSubcategoryName,ProductCategoryAlternateKey,EnglishProductCategoryName,SpanishProductCategoryName,FrenchProductCategoryName,OrderDate1,OrderDate3,OrderDate4,OrderDate6,OrderDate7
0,1,1,7,192,14186,353,100,20031219,20031231,20031226,...,VTT,1,Bikes,Bicicleta,Vélo,2003/12/19,2003/12/31,2003/12/19,2003/12/31,2003/12/26
1,1,1,7,192,11340,360,100,20030430,20030512,20030507,...,VTT,1,Bikes,Bicicleta,Vélo,2003/04/30,2003/05/12,2003/04/30,2003/05/12,2003/05/07
2,1,1,7,192,11340,359,100,20030706,20030718,20030713,...,VTT,1,Bikes,Bicicleta,Vélo,2003/07/06,2003/07/18,2003/07/06,2003/07/18,2003/07/13
3,1,1,7,192,28689,360,100,20021021,20021102,20021028,...,VTT,1,Bikes,Bicicleta,Vélo,2002/10/21,2002/11/02,2002/10/21,2002/11/02,2002/10/28
4,1,1,7,192,21505,357,100,20040602,20040614,20040609,...,VTT,1,Bikes,Bicicleta,Vélo,2004/06/02,2004/06/14,2004/06/02,2004/06/14,2004/06/09

In [12]:
sales_df[['OrderDate8']] = sales_df[['OrderDateKey']].applymap(str).applymap(lambda s: "{}/{}/{}".format(s[0:4],s[4:6],s[6:] ))
sales_df.head()

,ProductCategoryKey,ProductSubcategoryKey,SalesTerritoryKey,GeographyKey,CustomerKey,ProductKey,CurrencyKey,OrderDateKey,DueDateKey,ShipDateKey,...,ProductCategoryAlternateKey,EnglishProductCategoryName,SpanishProductCategoryName,FrenchProductCategoryName,OrderDate1,OrderDate3,OrderDate4,OrderDate6,OrderDate7,OrderDate8
0,1,1,7,192,14186,353,100,20031219,20031231,20031226,...,1,Bikes,Bicicleta,Vélo,2003/12/19,2003/12/31,2003/12/19,2003/12/31,2003/12/26,2003/12/19
1,1,1,7,192,11340,360,100,20030430,20030512,20030507,...,1,Bikes,Bicicleta,Vélo,2003/04/30,2003/05/12,2003/04/30,2003/05/12,2003/05/07,2003/04/30
2,1,1,7,192,11340,359,100,20030706,20030718,20030713,...,1,Bikes,Bicicleta,Vélo,2003/07/06,2003/07/18,2003/07/06,2003/07/18,2003/07/13,2003/07/06
3,1,1,7,192,28689,360,100,20021021,20021102,20021028,...,1,Bikes,Bicicleta,Vélo,2002/10/21,2002/11/02,2002/10/21,2002/11/02,2002/10/28,2002/10/21
4,1,1,7,192,21505,357,100,20040602,20040614,20040609,...,1,Bikes,Bicicleta,Vélo,2004/06/02,2004/06/14,2004/06/02,2004/06/14,2004/06/09,2004/06/02

In [13]:
sales_df['OrderDate9'] = sales_df['OrderDateKey'].apply(str).apply(lambda s: "{}/{}/{}".format(s[0:4],s[4:6],s[6:] ))
sales_df.head()

,ProductCategoryKey,ProductSubcategoryKey,SalesTerritoryKey,GeographyKey,CustomerKey,ProductKey,CurrencyKey,OrderDateKey,DueDateKey,ShipDateKey,...,EnglishProductCategoryName,SpanishProductCategoryName,FrenchProductCategoryName,OrderDate1,OrderDate3,OrderDate4,OrderDate6,OrderDate7,OrderDate8,OrderDate9
0,1,1,7,192,14186,353,100,20031219,20031231,20031226,...,Bikes,Bicicleta,Vélo,2003/12/19,2003/12/31,2003/12/19,2003/12/31,2003/12/26,2003/12/19,2003/12/19
1,1,1,7,192,11340,360,100,20030430,20030512,20030507,...,Bikes,Bicicleta,Vélo,2003/04/30,2003/05/12,2003/04/30,2003/05/12,2003/05/07,2003/04/30,2003/04/30
2,1,1,7,192,11340,359,100,20030706,20030718,20030713,...,Bikes,Bicicleta,Vélo,2003/07/06,2003/07/18,2003/07/06,2003/07/18,2003/07/13,2003/07/06,2003/07/06
3,1,1,7,192,28689,360,100,20021021,20021102,20021028,...,Bikes,Bicicleta,Vélo,2002/10/21,2002/11/02,2002/10/21,2002/11/02,2002/10/28,2002/10/21,2002/10/21
4,1,1,7,192,21505,357,100,20040602,20040614,20040609,...,Bikes,Bicicleta,Vélo,2004/06/02,2004/06/14,2004/06/02,2004/06/14,2004/06/09,2004/06/02,2004/06/02

In [15]:
sales_df.head()

,ProductCategoryKey,ProductSubcategoryKey,SalesTerritoryKey,GeographyKey,CustomerKey,ProductKey,CurrencyKey,OrderDateKey,DueDateKey,ShipDateKey,...,FrenchProductCategoryName,OrderDate1,OrderDate2,OrderDate3,OrderDate4,OrderDate5,OrderDate6,OrderDate7,OrderDate8,OrderDate9
0,1,1,7,192,14186,353,100,20031219,20031231,20031226,...,Vélo,2003/12/19,2003/12/31,2003/12/31,2003/12/19,2003/12/19,2003/12/31,2003/12/26,2003/12/19,2003/12/19
1,1,1,7,192,11340,360,100,20030430,20030512,20030507,...,Vélo,2003/04/30,2003/05/12,2003/05/12,2003/04/30,2003/04/30,2003/05/12,2003/05/07,2003/04/30,2003/04/30
2,1,1,7,192,11340,359,100,20030706,20030718,20030713,...,Vélo,2003/07/06,2003/07/18,2003/07/18,2003/07/06,2003/07/06,2003/07/18,2003/07/13,2003/07/06,2003/07/06
3,1,1,7,192,28689,360,100,20021021,20021102,20021028,...,Vélo,2002/10/21,2002/11/02,2002/11/02,2002/10/21,2002/10/21,2002/11/02,2002/10/28,2002/10/21,2002/10/21
4,1,1,7,192,21505,357,100,20040602,20040614,20040609,...,Vélo,2004/06/02,2004/06/14,2004/06/14,2004/06/02,2004/06/02,2004/06/14,2004/06/09,2004/06/02,2004/06/02